In [1]:
import pandas as pd

In [4]:

url = "D:/learN_CODE/thong_tin_SV_TIME_TABLE.csv"

df = pd.read_csv(url, header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,T,r,ị,n,h,,X,u,â,n,...,,2.0,0.0,1.0,2.0,4.0,0.0,3.0,8.0,]
1,2020-2021,2021-2022,2022-2023,2023-2024,2024-2025,2025-2026,2026-2027,2027-2028,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Học kỳ 1,Học kỳ 2,Học kỳ 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2,3,4,5,6,7,8,9,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
import csv
with open(url,  "r", encoding="utf-8" ) as f:
    csv_data = csv.reader(f)
    count = 0
    for row in csv_data:   
        if count == 0:
            ten_MSSV="".join(row)
            count+=1
            continue
        elif count == 2:
            list_nam_hoc = list(row)
            count += 1
            continue
        elif count==4:
            list_hoc_ky = list(row)
            count+= 1
            continue
        elif count == 6:
            list_tuan_hoc = list(row)
            count+= 1
            continue
        else:
            count+=1

Trịnh Xuân Bách [Mã số: 20124038]
['2020-2021', '2021-2022', '2022-2023', '2023-2024', '2024-2025', '2025-2026', '2026-2027', '2027-2028']
['Học kỳ 1', 'Học kỳ 2', 'Học kỳ 3']
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

In [30]:
df = pd.read_csv("D:/learN_CODE/thoi_kho_bieu_output.csv")

df.head()

,thu_2,thu_3,thu_4,thu_5,thu_6,thu_7,chu_nhat
0,An toàn lao động và môi trường công nghiệp \r...,0,0,0,0,0,0
1,0,Hành vi tổ chức \r\n07g00 -> 09g40\r\nTiết 1-...,0,Xác suất – Thống kê ứng dụng \r\n15g10 -> 17...,0,0,0
2,0,0,0,Hệ thống hoạch định nguồn lực doanh nghiệp (E...,0,0,0
3,0,0,Hệ thống thông tin quản lý (MIS) \r\n09g40 ->...,0,0,0,0
4,Quản trị marketing \r\n07g00 -> 09g40\r\nTiết...,0,0,0,0,0,0

In [44]:
time  =list(df.columns.values)
time

['thu_2', 'thu_3', 'thu_4', 'thu_5', 'thu_6', 'thu_7', 'chu_nhat']

In [57]:
time  =list(df.columns.values)
time_Table = [time,df.values.tolist()]

time_Table[1][0]

7